.header-container {
    display: flex;
    justify-content: space-between;  
    align-items: center;     
    padding: 20px;           
    background-color: #f4f4f4; 
  }
  
  .header-logo {
    display: flex;  
    justify-content: space-between;         
    align-items: center; 
  }
  
  .header-logo img {
    height: 55px;           
    margin-right: 30px;    

  }
  
  .header-container h4 {
    font-size: 24px;     
    margin-right: 40px;
    color: #333;             
  }
  
  /* Styling for the company name */
  .header-container h3 {
    font-size: 28px;         /* Set the font size for the company name */
    margin: 0;               /* Remove default margin */
    color: #007bff;          /* Blue color for the company name */
    font-weight: bold;       /* Make the company name bold */
  }
  